# The LaTeX files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lol
*.lot
*.out
*.synctex.gz
*.pdf
*.run.xml
*.synctex.gz
*.toc

# Mac os files
.DS_Store

# vscode files
*.vscode

# Jet brains files
*.idea